.container {
  display: flex;
  justify-content: center;
  font-family: "sans-serif";
}

.images {
    width: 100%;
    height: 55vh !important;
  }

  .bullet-points::before {
    content: '\2605'; /* star character */
    margin-right: 0.5em;
  }
  

     
@media screen and (max-width:400px){
    .images {
        width: 100% !important;
        height:100% !important;
      }
}

.col {
  flex-basis: 48%;
  margin: 20px;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 5px;
}

.col ul {
  padding-left: 20px;
  list-style: disc;
  font-size: large;
}

.col1 {
  margin-left:45px;
  padding: 60px;
  border-radius: 5px;
}
.col1 ul {
  padding-left: 20px;
  list-style: disc;
  font-size: large;
}

@media screen and (max-width: 768px) {
  .col {
    padding: 8px;
    line-height: 10px;
    margin: 5px;
  }
  .col ul li {
    line-height: 25px;
  }
}
