.tablecontainer{
    width: 100wh !important;
    height: auto !important;
    border: 2px solid black !important;
   padding: 10px;
   margin-left: 100px;
   margin-right: 100px;
}
.tablecontainer1{
    width: 100wh !important;
    height: auto !important;
    border: 2px solid black !important;
   padding: 10px;
   margin-left: 150px;
   margin-right: 150px;
}
@media only screen and (max-width: 480px) {
    .tablecontainer, .tablecontainer1 {
        margin: 0;
        border: none;
        padding: 3px;
        width: 100%;
    }
}